<!DOCTYPE html>
<!--
    /front/order/end.html   주문완료페이지
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" style="background: #fff;" th:object="${data}">
    <section class="inner-section">
        <h1 th:text="${pageTitle}"></h1>
        <div class="order_no">
            주문번호 :
            <a th:href="@{/order/view/{id}(id=*{id})}" th:text="*{id}"></a>
        </div>
        <div>
            주문 상품 : <th:block th:text="*{bookNm}"></th:block>
        </div>
        <div class="btns">
            <a th:href="@{/front/main}" class="action_button gohome">계속 쇼핑하기</a>
            <a th:href="@{/order/view/{id}(id=*{id})}"  class="action_button">주문서 확인</a>
        </div>
    </section>
</main>
</html>