<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form id="frmSave" name="frmSave" method="POST" th:action="@{/admin/book/category}" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="mode" value="add">
        <table class="table-cols">
            <tr>
                <th>분류코드</th>
                <td width="200">
                    <input type="text" name="cateCd">
                </td>
                <th>분류명</th>
                <td width="250">
                    <input type="text" name="cateNm">
                </td>
                <th>사용여부</th>
                <td>
                    <input type="radio" name="use" value="true" id="use_true">
                    <label for="use_true">사용</label>
                    <input type="radio" name="use" value="false" id="use_false" checked>
                    <label for="use_false">미사용</label>
                </td>
            </tr>
        </table>
        <div class="submit_btn">
            <button type="submit">등록하기</button>
        </div>
    </form>
    <h2>도서 분류목록</h2>
    <form id="frmList" name="frmList" method="post" th:action="@{/admin/board/category}" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="mode" value="edit">
        <table class="table-rows">
            <thead>
                <tr>
                    <th width="50">
                        <input type="checkbox" class="checkall" data-target-name="cateCd" id="checkall">
                        <label for="checkall" class="standalone"></label>
                    </th>
                    <th width="200">분류코드</th>
                    <th width="250">분류명</th>
                    <th width="300">사용여부</th>
                    <th>진열가중치</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item, status : ${items}" th:object="${item}">
                    <td>
                        <input type="checkbox" name="cateCd" th:value="*{cateCd}" th:id="${'id_' + status.index}">
                        <label th:for="${'id_' + status.index}" class="standalone"></label>
                    </td>
                    <td th:text="*{cateCd}"></td>
                    <td>
                        <input type="text" name="cateNm" th:value="*{cateNm}">
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</section>
</html>