<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>

    <h2>도서 목록</h2>
    <form name="frmList" method="post" th:action="@{/admin/book}" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="mode" value="edit">
        <table class="table-rows">
            <thead>
                <tr>
                    <th width="40">
                        <input type="checkbox" class="checkall" id="checkall" data-target-name="chkNo">
                        <label for="checkall" class="standalone"></label>
                    </th>
                    <th width="150">분류</th>
                    <th width="150">판매상태</th>
                    <th>도서명</th>
                    <th width="150">판매가</th>
                    <th width="150">재고</th>
                    <th width="150">진열가중치</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${items != null && items.size() > 0}">
                <tr th:each="item, status : ${items}" th:object="${item}">
                    <td>
                        <input type="checkbox" name="chkNo" th:value="${status.index}" th:id="${'chkNo_' + status.index}">
                        <label th:for="${'chkNo_' + status.index}" class="standalone"></label>
                    </td>
                    <td th:text="*{category.cateNm}"></td>
                    <td>
                        <select th:name="${'status_' + status.index}">
                            <option th:each="s : ${statusList}" th:value="${s[0]}" th:text="${s[1]}"  th:selected="${s[0] == item.status.name()}"></option>
                        </select>
                    </td>
                    <td th:text="*{bookNm}"></td>
                    <td th:if="*{price >= 1000}" th:text="*{#numbers.formatInteger(price, 3, 'COMMA') + '원'}"></td>
                    <td th:unless="*{price >= 1000}" th:text="*{price + '원'}"></td>
                    <td>
                        <input type="number" th:name="${'stock_' + status.index}" th:value="*{stock}">
                    </td>
                    <td>
                        <input type="number" th:name="${'listOrder_' + status.index}" th:value="*{listOrder}">
                    </td>
                </tr>
                </th:block>
                <th:block th:unless="${items != null && items.size() > 0}">
                    <tr>
                        <td colspan="7" class="no_data">조회된 목록이 없습니다.</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="table-action" th:if="${items != null && items.size() > 0}">
            <button type="button" class="form_action sbtn" data-mode="delete" data-target-name="frmList">선택 도서 삭제</button>
            <button type="button" class="form_action sbtn blue" data-mode="edit" data-target-name="frmList">선택 도서 수정</button>
        </div>
    </form>
</section>
</html>