<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content">

    <h1>주문 목록</h1>
    <!--
        <ul>
            <li th:each="item : ${list}" th:object="${item}">
                <a th:href="@{/buyer/view/{id}(id=*{buyerNo})}" th:text="*{buyerNo}"></a>
            </li>
        </ul>
    -->


    <div>
        <table border="1">
            <tr>
                <th th:text="#{buyer.buyerNo}"></th>
                <th th:text="#{buyer.buyerNm}"></th>
                <th th:text="#{buyer.bookNm}"></th>
                <th th:text="#{buyer.buyerCnt}"></th>
                <th th:text="#{buyer.category}"></th>
                <th th:text="#{buyer.price}"></th>
                <th>주문일</th>
            </tr>

            <tbody>
            <tr th:each="item : ${items}" th:object="${item}">
                <td>
                    <a th:href="@{/buyer/view/{id}(id=*{buyerNo})}" th:text="*{buyerNo}"></a>
                </td>
                <td th:text="*{buyerNm}"></td>
                <td th:text="*{bookNm}"></td>
                <td th:text="*{buyerCnt}"></td>
                <td th:text="*{category}"></td>
                <td th:text="*{price}"></td>
                <td th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
</html>
