<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>

    <div>
        <input type="hidden" name="mode" value="list">

        <table class="table-rows">
            <tr>
                <th th:text="#{buyer.buyerNo}"></th>
                <th th:text="#{buyer.buyerNm}"></th>
                <th th:text="#{buyer.status}"></th>
                <th th:text="#{buyer.gid}"></th>
                <th width="150" th:text="#{buyer.buyerCnt}"></th>
                <th th:text="#{buyer.sumPrice}"></th>
                <th th:text="#{buyer.createdAt}"></th>
            </tr>

            <tbody>

            <th:block th:if="${items != null && items.size() > 0}">
            <tr th:each="item, status : ${items}" th:object="${item}">
   <!--         <tr th:each="item : ${items}" th:object="${item}">    -->
                <td>
                    <a th:href="@{/admin/buyer/view/{id}(id=*{buyerNo})}" th:text="*{buyerNo}"></a>
                </td>
                <td th:text="*{buyerNm}"></td>
                <td th:text="*{status}"></td>
                <td th:text="*{gid}"></td>
                <td th:text="*{buyerCnt}"></td>
                <td th:if="*{sumPrice >= 1000}" th:text="*{#numbers.formatInteger(sumPrice, 3, 'COMMA') + '원'}"></td>
                <td th:unless="*{sumPrice >= 1000}" th:text="*{sumPrice + '원'}"></td>
                <td th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></td>
            </tr>
            </th:block>
            <th:block th:unless="${items != null && items.size() > 0}">
                <tr>
                    <td colspan="8" class="no_data">조회된 목록이 없습니다.</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</section>
</html>
