<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>

<th:block th:fragment="form" th:object="${buyer}">
    <table class="table-cols">
        <tr>
            <th>주문번호</th>
            <td th:text="${buyer.buyerNo}" readonly></td>
        </tr>
        <tr>
            <th>주문상태</th>
            <td>
                <select>
                    <option th:each="s : ${statusList}" th:value="${s[0]}" th:text="${s[1]}"  th:selected="${s[0] == buyer.status.name()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>주문 수량</th>
            <td align="left" th:text="${buyer.buyerCnt}"></td>
        </tr>
        <tr>
            <th>총 주문금액</th>
            <td align="left" th:text="${buyer.sumPrice + '원'}"></td>
        </tr>
        <tr>
            <th>운송장번호</th>
            <td>
                <input type="text" th:value="${buyer.waybillNo}" >
            </td>
        </tr>
        <tr>
            <th>배송지주소</th>
            <td>

            </td>
        </tr>
        <tr>
            <th>상품내역</th>
            <td>

            </td>
        </tr>

    </table>
    <div>
        <button type="button" class="form_action sbtn blue" data-mode="save">주문 내역 수정</button>
    </div>
</th:block>

</section>
</html>