<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section style="margin-left: 50px;">
    <div class="list_container">
        <aside class="list_side_cate">
            <div class="side_cate_box">
                <span>카테고리</span>
                <form method="get" th:action="@{/front/main/list}" th:object="${bookSearch}">
                <div class="side_column">
                    <a  class="list_top_cate">국내도서</a>
                    <a th:href="'/front/main/list?sopt=D001'" class="list_items">소설</a>
                    <a th:href="'/front/main/list?sopt=D002'" class="list_items">시/에세이</a>
                    <a th:href="'/front/main/list?sopt=D003'" class="list_items">인문</a>
                    <a th:href="'/front/main/list?sopt=D004'" class="list_items">경영/경제</a>
                    <a th:href="'/front/main/list?sopt=D005'" class="list_items">자기계발</a>
                    <a th:href="'/front/main/list?sopt=D006'" class="list_items">정치/사회</a>
                    <a th:href="'/front/main/list?sopt=D007'" class="list_items">역사/문화</a>
                    <a th:href="'/front/main/list?sopt=D008'" class="list_items">외국어</a>
                </div>
                <div class="side_column">
                    <a href="#" class="list_top_cate">해외도서</a>
                    <a href="#" class="list_items">문학</a>
                    <a href="#" class="list_items">인문</a>
                    <a href="#" class="list_items">고전</a>
                    <a href="#" class="list_items">경제/경영</a>
                    <a href="#" class="list_items">ELT/수험서</a>
                </div>
                <div class="side_column">
                    <a href="#" class="list_top_cate">고객센터</a>
                    <a href="#" class="list_items">자주 묻는 질문</a>
                    <a href="#" class="list_items">1:1 문의</a>
                    <a href="#" class="list_items">공지사항</a>
                </div>
                </form>
            </div>
        </aside>
        <form id="frmList" name="frmList" method="post" th:action="@{/front/main}" target="ifrmProcess" autocomplete="off">
            <th:block th:if="${items != null && items.size() > 0}">
                <h2>도서 목록</h2>
                    <ul class="list_prd_ul">
                        <li th:each="item : ${items}" th:object="${item}" class="list_prd_li" th:if="${item.status.toString().equals('SALE')} or ${item.status.toString().equals('OUT_OF_STOCK')}">
<!--                            <a th:href="'/front/goods/view/'+*{bookNo}" class="list_prd_a">-->
                                <div th:each="imageInfo : ${item.listImages}">
                                            <a class="list_img_box" th:href="'/front/goods/view/'+*{bookNo}">
                                                <img class="list_prd_img" alt="상품 목록 이미지" th:src="${imageInfo.fileUrl}">
                                            </a>
                                </div>
                                <div class="list_book_info_box">
                                    <a class="list_bookNm" th:text="*{bookNm}" th:href="'/front/goods/view/'+*{bookNo}"></a>
                                    <p class="list_auth_pub">
                                        <span class="list_author" th:text="*{author}"></span>
                                        <em class="divi"></em>
                                        <span class="list_pub" th:text="*{publisher}"></span>
                                    </p>
                                    <p class="list_price_box">
                                        <span class="list_price" th:if="*{price >= 1000}" th:text="*{#numbers.formatInteger(price, 3, 'COMMA') + '원'}"></span>
                                        <span class="list_price" th:unless="*{price >= 1000}" th:text="*{price + '원'}"></span>
                                    </p>
                                    <div class="list_content" th:utext="${item.description.length() > 300 ? item.description.substring(0, 300) + '...' : item.description}"></div>
                                </div>
                                <div class="list_btns">
                                    <button type="button" class="action_button cart" data-mode="cart">장바구니</button>
                                    <button type="button" class="action_button direct" data-mode="direct">바로구매</button>
                                </div>
                        </li>
                    </ul>
                <!--</th:block>-->
                <!--</th:block>-->
            </th:block>
            <th:block th:unless="${items != null && items.size() > 0}">
                <h3>조회된 목록이 없습니다.</h3>
            </th:block>
        </form>
    </div>
    </section>
    <th:block th:if="${pagination != null}" th:replace="~{common/_pagination::pagination}"></th:block>
</main>
</html>