<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="frmSave" id="frmSave" method="POST" th:action="@{/admin/member/save}" autocomplete="off" th:object="${joinForm}">
        <input type="hidden" name="mode" value="edit">
        <input type="hidden" name="userNo" th:field="*{userNo}">
        <th:block th:replace="~{admin/member/_form::form}"></th:block>
        <div class="btns">
            <button type="reset" th:text="#{btn.reset}"></button>
            <button type="submit" th:text="#{btn.edit}"></button>
        </div>
    </form>
</section>
</html>