<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form method="get" th:action="@{/admin/member}" th:object="${memberSearch}">
        <table class="table-cols">
           <tr>
               <th>키워드 검색</th>
               <td>
                   <div class="input_grp">
                       <select name="sopt" th:field="*{sopt}">
                           <option value="all">통합검색</option>
                           <option value="userId">아이디</option>
                           <option value="userNm">회원명</option>
                           <option value="email">이메일</option>
                           <option value="mobile">휴대전화번호</option>
                       </select>
                       <input type="text" name="skey" th:field="*{skey}">
                   </div>
               </td>
               <th>회원구분</th>
               <td>
                   <span th:each="role, status : ${roles}">
                       <input type="checkbox" name="roles" th:value="${role[0]}" th:id="${'role_' + status.index}" th:field="*{roles}">
                       <label th:for="${'role_' + status.index}" th:text="${role[1]}"></label>
                   </span>
               </td>
           </tr>
        </table>
        <div class="search_btn">
            <button type="submit">검색하기</button>
        </div>
    </form>
    <table class="table-rows">
        <thead>
        <tr>
            <th width="80">정보수정</th>
            <th width="80">회원번호</th>
            <th width="80">아이디</th>
            <th>회원명</th>
            <th>이메일</th>
            <th width="100">휴대전화번호</th>
            <th width="80">등급</th>
            <th width="150">가입일</th>
            <th width="150">수정일</th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${items != null && items.size() > 0}" th:each="item, status : ${items}" th:object="${item}">
                <td align="center">
                    <a class="user-edit-clk" th:href="@{/admin/member/edit/{userNo}(userNo=*{userNo})}">수정</a>
                </td>
                <td th:text="*{userNo}"></td>
                <td th:text="*{userId}"></td>
                <td th:text="*{userNm}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{mobile}"></td>
                <td th:text="*{role}"></td>
                <td th:text="${#temporals.format(item.createdAt, 'yy-MM-dd')}"></td>
                <td th:text="${#temporals.format(item.modifiedAt, 'yy-MM-dd')}"></td>
            </tr>
            <tr th:unless="${items != null && items.size() > 0}">
                <td colspan="9" class="no_data">조회된 목록이 없습니다.</td>
            </tr>
        </tbody>
    </table>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>