<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>

    <form name="frmSearch" method="GET" th:object="${orderSearch}" autocomplete="off">

        <div class="search_btn">
            <button type="submit">검색하기</button>
        </div>
    </form>

    <table class="table-rows">
        <thead>
        <tr>
            <th>주문번호</th>
            <th>주문일시</th>
            <th>주문자명</th>
            <th>주문상품</th>
            <th>결제수단</th>
            <th>주문서수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${items != null && !items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
            <td>
                <a th:href="@{/admin/order/{id}(id=*{id})}" th:text="*{id}"></a>
            </td>
            <td th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></td>
            <td th:text="*{orderName}"></td>
            <td>
                <ul>
                    <li th:each="orderItem : *{orderItems}" th:object="${orderItem}">
                        [[*{#strings.concat('[', status.title, ']')}]][[*{bookNm}]] X [[*{ea}]]개
                    </li>
                </ul>
            </td>
            <td th:text="*{paymentType.title}"></td>
            <td>
                <a th:href="@{/admin/order/{id}(id=*{id})}" class="sbtn">주문서 수정</a>
            </td>
        </tr>
        <tr th:unless="${items != null && !items.isEmpty()}">
            <td colspan="5" class="no_data">검색된 주문이 없습니다.</td>
        </tr>
        </tbody>
    </table>


    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>