/** 사이트 공통 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; color: #000; outline: none; }
html { }
ul, ol { list-style: none; margin:0; padding:0; }
dl, dt, dd { margin:0; padding: 0; }
a { text-decoration: none; transition: transform 0.3s;}
a:hover{transform: scale(1.1);}
body { margin: 0; }
img { border: 0; }
em {font-style: normal;}

/** 기준 너비 */
.layout_width { max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }

/** 기본 스타일 - 입력 */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='date'] { border: 1px solid #d5d5d5; width: 100%; height: 45px; padding: 0 10px; border-radius: 3px; }
textarea { border: 1px solid #d5d5d5; width: 100%; min-height: 150px; padding: 10px; resize: none; }
select { border: 1px solid #d5d5d5; min-width: 120px; height: 45px; }
.input_grp { display: flex; align-items:center; }
.input_grp > * { margin-right: 5px; }

/** 기본 스타일 - 체크박스, 라디오 버튼 */

input[type='checkbox'] { display: none; }
input[type='checkbox']+label { min-height: 32px; line-height: 1; padding: 3px 0 3px 33px; background:url("../../admin/images/chk-off.png") no-repeat left center; margin-right: 13px; cursor: pointer; }
input[type='checkbox']:checked+label { background:url("../../admin/images/chk-on.png") no-repeat left center; }
input[type='checkbox']+label.standalone { padding: 0; width: 28px; display: inline-block; margin: 0; }
input[type='radio'] { display: none; }
input[type='radio']+label { min-height: 24px; line-height: 1; padding: 3px 0 3px 25px; background:url("../../admin/images/radio-off.png") no-repeat left center; margin-right: 13px; cursor: pointer; }
input[type='radio']:checked+label { background:url("../../admin/images/radio-on.png") no-repeat left center; }
input[type='radio']+label.standalone { padding: 0; width: 28px; margin: 0; }


.dn { display: none !important; }

/** 기본 레이아웃 스타일 */
header { background: #fff; align-items: center; justify-content: space-between; min-width: 1200px; }
header .header_top{ display: flex; padding-right: 50px;}
header .right { text-align: right; padding: 10px; display: flex; align-items: center; }
header .left a img.left_logo { width: 400px; }

/** 헤더 검색창 스타일 */
header .search { display: flex; justify-content: center; align-items: center; flex-grow: 1;}
header .search_box { display: flex; align-items: center; border: 1px solid #cccccc; border-radius: 10px; justify-content: space-between; padding-right: 20px;}
header .header_select {border: none; border-radius: 10px; width: 120px; text-align: center; }

header .main_search_btn { margin-left: 10px; background-color: #fff; border: none; transition: transform 0.3s; cursor: pointer; }
header .main_search_btn:hover { transform: scale(1.2); }
header .search_text{border: none; width: 300px; }

.hbtn { cursor: pointer; display: inline-block; border: 1px solid #09923d; color: #09923d; min-width: 90px; padding: 0 20px; height: 28px; line-height: 26px; text-align: center; border-radius: 5px; background: #fff; }
.hbtn.green { color: #fff; background:#09923d; margin-left: 5px; }

/** 헤더 메뉴 스타일*/
header .header_menu_box { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; display: flex; padding: 10px 0; background-color: #f8f8f8; text-align: center; justify-content: space-between; }
header .header_menu_content { display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 0 50px; }
header .header_content { padding-left: 40px; font-size: 22px;}
header .menu_right{text-align: right;}
header .menu_content { display: flex; justify-content: space-between; align-items: center;}


/* 헤더 드롭다운 버튼 스타일 */
header .dropbtn { background-color: #f8f8f8; border: none; cursor: pointer; }
header .dropbtn:hover{transform: scale(1.1); transition: transform 0.3s;}
header .dropbtn img{ width: 40px; }

/* 헤더 드롭다운 컨텐츠 스타일 */
header .header_drop_menu { display: none; position: absolute; background-color: #f9f9f9; min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; border: 1px solid #000; border-radius: 16px; margin: 10px 0 0 50px;}

/* 헤더 드롭다운 컬럼 스타일 */
header .drop_column { float: left; padding: 10px; border-right: 1px solid #ccc; height: 100%; }
header .drop_column a { display: block; color: #333; text-align: left; text-decoration: none; }
header .drop_column a:hover { background-color: #ddd;}

/* drop_top_cate 스타일 */
header .drop_column .drop_top_cate { font-size: 15px; margin-bottom: 30px; display: block; padding: 5px 0 5px 10px; border-radius: 10px; width: 200px; background-color: #7c7f79; color: #fff; text-decoration: none; }

/* drop_items 스타일 */
header .drop_column .drop_items { font-size: 15px; margin: 20px 10px; display: block; text-align: left; text-decoration: none; color: #333; }

/* 드롭다운 컬럼 간 간격 조절 */
header .drop_column + .drop_column { margin-left: 10px; }

/* 공통 푸터 스타일 */
.footer_box{ background-color: #464646; width: 100%; height: auto; padding: 20px 0; display: flex; justify-content:center; }
.footer_logo{ width: 300px; }
.footer_box .footer_terms{ display: flex; justify-content: center;}
.footer_terms a{ cursor: pointer; }
.footer_terms span{ color: white; padding: 0 15px; }
.footer_terms .introduce, .terms_of_use{ border-right: 1px solid white;}
.footer_info{ display: flex; flex-direction: column; justify-content: center; text-align: center; margin-top: 20px; }
.footer_info p{ color: white; margin-block-start: initial; margin-block-end: 8px; }



main { min-width: 1100px; min-height: 800px; }
main > aside { width: 208px; background: #596b99; }
main > section { flex-grow: 1; margin: 0 50px 50px; }

/* 메인 배너 */
.main_banner1 {border-bottom: 1px solid #ccc; padding: 20px 0 20px 0;}
.main_banner1 .main_banner_img1 {width: 100%;}

/* 메인 상품 리스트 */
.main_prd_ul {display: flex; padding:0;}
.main_prd_li { width: 211px; margin-left: 36px; text-align: left; display: flex; transition: transform 0.3s;}
.main_prd_li:hover {transform: scale(1.05);}
/* 첫 번째 상품의 왼쪽 여백 제거 */
.main_prd_li:first-child { margin-left: 0; }
.main_img_box {display: block; width : 211px;}
.main_prd_img {width: 100%;}
.main_book_info_box { margin-top: 8px; text-align: left; }
.divi { margin: 0 4px; } /* 분리선 */
.divi:before { content: '|'; margin-right: 4px; }
.main_bookNm { font-size: 18px; font-weight: bold; margin: 4px 0; }
.main_price { font-size: 14px; font-weight: bold; }
.main_author, .main_pub { font-size: 12px; }
/* 이전/다음 버튼 */
.book-pagination{ display: flex; align-items: center; }
.page-button{width: 44px; height: 44px; border: 1px solid #ccc; background-color: #fff; border-radius: 50%; text-align: center; line-height: 44px; cursor: pointer; background-size: 44px 44px; background-image: url("/common/images/next_btn.png"); min-width: 44px; min-height: 44px; }

/* 상품 리스트 */
.list_prd_li {text-align: left; transition: transform 0.3s; display: flex; margin: 10px 0; justify-content: space-between;}
.list_img_box {display: block; width : 211px;}
.list_prd_img {width: 100%;}
.list_book_info_box { margin-left: 20px; text-align: left; }
.list_bookNm {margin-top: 0; }
.list_price { font-size: 14px; font-weight: bold; }
.list_content * { max-height: 100px; overflow: hidden; text-overflow: ellipsis; max-width: 800px; }

.list_btns { margin: 0 auto; text-align: right; display: flex; flex-direction: column; }
.action_button.cart { width: 0; flex-grow: 1; height: 50px; max-height: 50px; font-size: 18px; border: 1px solid #09923d; color: #09923d; background: #fff; cursor: pointer; transition: transform 0.3s;}
.action_button.cart:hover { border: 1px solid #089092; color: #089092; }
.action_button.direct {width: 0; flex-grow: 1; height: 50px; max-height: 50px; font-size: 18px; border: 1px solid #09923d; color: #fff; background: #09923d; cursor: pointer; transition: transform 0.3s;}
.action_button.direct:hover { border: 1px solid #089092; background: #089092; }

aside li > a { display: block; height: 71px; line-height: 71px; border-top: 1px solid #61729e; color: #dddee4; font-size: 18px;  position: relative; padding-left: 30px; }
aside li > a * { color: #dddee4; font-size: 18px; }
aside li > a:hover,
aside li > a.on { background: #3c4e7a; font-weight: bold; }
aside li > a:hover:after,
aside li > a.on:after { content: ''; display: block; position: absolute; width: 8px; height: 100%; right: 0; top: 0; background: #00d0d7; }

/** 기본 버튼 스타일 */
.sbtn { cursor: pointer; display: inline-block; border: 1px solid #596b99; color: #596b99; min-width: 90px; padding: 0 20px; height: 28px; line-height: 26px; text-align: center; border-radius: 5px; background: #fff; }
.sbtn.blue { color: #fff; background:#596b99; }

.btns { display: flex; width: 400px; margin: 0 auto; }
.btns > button { width: 0; flex-grow: 1; height: 50px; font-size: 18px; border: 1px solid #000; background: #fff; cursor: pointer; }
.btns > button:last-of-type { background: #000; color: #fff; }

.search_btn, .submit_btn { text-align: center; margin: 20px 0 35px; }
.search_btn button, .submit_btn button { text-align: center; height: 45px; line-height: 45px; background: #36466d; color: #fff; padding: 0 30px; border: 0; font-size: 16px; }


/** 기본 메세지 상자 스타일 */
.message { box-shadow: 2px 2px 5px #36466d; padding: 15px 25px; text-align: center; background: #fff; font-size: 18px; color: #36466d; margin-bottom: 10px; border-radius: 5px; }

/** 기본 에러 메세지 스타일 */
.errors { box-shadow: 2px 2px 5px #36466d; padding: 5px 15px; background: #fff; font-size: 12px; border-radius: 3px; margin-top:5px; color: #61729e; }

/** 기본 제목 스타일 */
h1 { font-size: 30px; font-weight: bold; margin: 0; margin-top: 35px; margin-bottom: 35px; line-height: 1; padding: 0; }
h2 { font-size: 18px; font-weight: bold; margin: 25px 0 10px; line-height: 1; }

/** 기본 테이블 스타일 */
.table-cols { width: 100%; border-spacing: 0; padding: 0; border-top: 3px solid #222; margin-bottom: 20px; }
.table-cols th { background: #f8f8f8; width: 160px; padding: 10px 20px; text-align: left; }
.table-cols td { background: #fff; padding: 10px 15px; }
.table-cols th,
.table-cols td { border-bottom: 1px solid #d5d5d5; }

.table-rows { width: 100%; border-spacing: 0; padding: 0; }
.table-rows th { background: #7a7c89; color: #fff; border-top: 1px solid #d5d5d5; padding: 12px 10px; }
.table-rows td { padding: 15px 10px; }
.table-rows th, .table-rows td { border-bottom: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; }
.table-rows th:first-of-type, .table-rows td:first-of-type { border-left: 1px solid #d5d5d5; }

.table-action { padding: 10px 0; border-bottom: 1px solid #d5d5d5; }

/** 공통 서브 메뉴 */
nav.submenus { background: #fff; box-shadow: 1px 1px 5px #cdced5; margin-bottom: 30px; display: flex; height: 60px; }
nav.submenus a.on { background: #596b99; color: #fff; }
nav.submenus a { line-height: 60px; padding: 0 40px; font-size: 18px; }

/** 공통 파일 첨부 이미지 */
.uploaded_images .file_images { width: 100px; height: 100px; position: relative; border: 2px solid #000; margin-right: 5px; margin-bottom: 5px; }
.uploaded_images .file_images .bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }
.uploaded_images .file_images .remove { position: absolute; top: 0; right: 0; background: #000; color: #fff; display: block; width: 15px; height: 15px; z-index: 2; background: #000; text-align: center; line-height: 15px; }
.uploaded_images .file_images .remove * { color: #fff; font-size: 13px; }

.uploaded_images { display: flex; }

.file_items { display: inline-block; border: 1px solid #000; border-radius: 3px; padding: 5px 10px; margin-right: 3px; margin-bottom: 3px; }
.file_items > a:hover { text-decoration: underline; }
.file_items .insert_editor { cursor: pointer;  }

/*  goods/view  설정 */
.product_top { max-width: 1300px; min-width: 1100px; margin: 30px auto; }
.product_top .product_info .top { display: flex; justify-content: space-between; }
.product_top .product_info .top > * { flex-grow: 1; }

.product_bottom  { max-width: 1300px; min-width: 1100px; margin: 30px auto; }

/*  order, cart 왼쪽 들여쓰기 설정 */
main > inner-section { margin-left: 100px; }

/*  cart  설정 */
.cart-table-cols { width: 100%; border-spacing: 0; padding: 0; border-top: 3px solid #222;}
.cart-table-cols th { background: #3f048c; width: 160px; padding: 10px 20px; color:#fff; font-size:20px; text-align: left; }
.cart-table-cols td { background: #fff; padding: 10px 15px; }
.cart-table-cols th,
.cart-table-cols td { border-bottom: 1px solid #d5d5d5; }

h3 { color : #be0000; #font-size: 18px; font-weight: bold; margin: 25px 0 10px; line-height: 1; }

.action_button { cursor: pointer; display: inline-block; border: 1px solid #596b99; color: #596b99; min-width: 200px; padding: 0 20px; height: 60px; line-height: 26px; font-size:20px; text-align: center; border-radius: 5px; background: #fff; margin-top: 10px;}
/*.action_button.order {  color:#fff; background:#3f048c; }
.action_button.delete { color:#fff; background:#000; }  */
.action_button.payment {  color:#fff; background:#596b99;  }


/** 페이징 공통 */
.pagination { text-align: center; margin: 15px 0; }
.pagination a { display: inline-block; padding: 5px 10px; border: 1px solid #d5d5d5; border-radius: 5px; margin: 0 2px; font-size: 0.9rem; }
.pagination a.on { background-color: #727272; color: #ffffff; border-color: #727272; }