<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="common">
    <section class="header_top">
        <section class="left">
            <a href="http://localhost:3000/front/main">
                <img th:src="@{/common/images/logo1.png}" alt="logo" class="left_logo">
            </a>
        </section>
        <section class="search">
            <div class="search_box">
              <!--  <form method="get" th:action="@{/front/main/list}" th:object="${bookSearch}">
                    <select name="sopt" th:field="*{sopt}" class="header_select">
                        <option value="frontAll">통합검색</option>
                        <option value="bookNm">도서명</option>
                        <option value="author">저자</option>
                        <option value="publisher">출판사</option>
                    </select>
                    <input name="skey" th:field="*{skey}" type="text" class="search_text" placeholder="도서명을 입력하세요">
                    <button class="main_search_btn" type="submit">
                        <img th:src="@{/common/images/find.webp}" alt="검색" width="20" height="20">
                    </button>

                </form>-->
            </div>
        </section>

        <section class="right">
                <th:block sec:authorize="isAuthenticated()"> <!--로그인 된 경우-->
                    <a th:href="@{/member/edit}" class="hbtn">회원정보수정</a>
                    <a th:href="@{/member/logout}" class="hbtn green">로그아웃</a>
                    <a th:href="@{/main/index}" class="hbtn green">마이페이지</a>
                    <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/admin}" class="hbtn admin"}>관리자 페이지</a>
                    </th:block>
                </th:block>
                <th:block sec:authorize="isAnonymous()"> <!--로그인 하지 않은 경우-->
                    <a th:href="@{/member/join}" class="hbtn">회원가입</a>
                    <a th:href="@{/member/login}" class="hbtn green">로그인</a>
                </th:block>
        </section>
    </section>
    <!--헤더 하단 메뉴 바-->
    <section class="header_menu_box">
        <div class="header_menu_content">
            <div class="menu_content">
                <button class="dropbtn">
                    <img th:src="@{/common/images/list.png}" alt="목록">
                </button>
                <a th:href="@{/front/main/list}" class="header_content">전체도서</a>
                <a th:href="@{/front/main/list}" class="header_content">국내도서</a>
                <a th:href="@{/front/main/list}" class="header_content">해외도서</a>
                <a th:href="@{/front/main/event}" class="header_content">이벤트</a>
            </div>
            <div class="menu_right">
                <button class="dropbtn">
                    <a th:href="'/order/cart'">
                    <img th:src="@{/common/images/cart.png}" alt="장바구니">
                </button>

  <!--
                <button class="dropbtn">
                    <img th:src="@{/common/images/alarm.png}" alt="알림">
                </button>
  -->
            </div>
        </div>
    </section>
    <section>
        <div class="header_drop_menu">
            <div class="drop_column">
                <a href="#" class="drop_top_cate">국내도서</a>
                <a href="#" class="drop_items">소설</a>
                <a href="#" class="drop_items">시/에세이</a>
                <a href="#" class="drop_items">인문</a>
                <a href="#" class="drop_items">경영/경제</a>
                <a href="#" class="drop_items">자기계발</a>
                <a href="#" class="drop_items">정치/사회</a>
                <a href="#" class="drop_items">역사/문화</a>
                <a href="#" class="drop_items">외국어</a>
            </div>
            <div class="drop_column">
                <a href="#" class="drop_top_cate">해외도서</a>
                <a href="#" class="drop_items">문학</a>
                <a href="#" class="drop_items">인문</a>
                <a href="#" class="drop_items">고전</a>
                <a href="#" class="drop_items">경제/경영</a>
                <a href="#" class="drop_items">ELT/수험서</a>
            </div>
            <div class="drop_column">
                <a href="#" class="drop_top_cate">고객센터</a>
                <a href="#" class="drop_items">자주 묻는 질문</a>
                <a href="#" class="drop_items">1:1 문의</a>
                <a href="#" class="drop_items">공지사항</a>
            </div>
        </div>
    </section>
    <!--common.js 가 제대로 로딩되지 않는 것 같아 임시로 스크립트 넣어둠-->
    <!--<script>
        document.querySelector('.dropbtn').addEventListener('click', function() {
            var dropdownContent = document.querySelector('.header_drop_menu');
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
        });
    </script>-->
</header>
</html>